body {
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  background: linear-gradient(
    60deg,
    rgba(128, 0, 128, 0.9),
    rgba(255, 0, 0, 0.6),
    rgba(205, 150, 12, 0.7),
    rgba(85, 107, 47, 0.7),
    rgba(0, 0, 255, 0.7)
  );
}

li.done {
  text-decoration: line-through;
  opacity: 0.7;
}
